---
language: python
python: "2.7"
sudo: true

install:
  # Install Ansible.
  - pip install ansible

  # Add ansible.cfg to set local roles path.
  - "{ echo '[defaults]'; echo 'roles_path = ansible/roles/'; } >> ansible.cfg"

script:
  # Check syntax
  - ansible-playbook -i tests/inventory tests/test.yml --syntax-check

  # Test the roles will actually run
  - ansible-playbook -i tests/inventory tests/test.yml --connection=local --sudo

  # Test the roles are idempotent
#  - >
#    ansible-playbook -i tests/inventory tests/test.yml --connection=local --sudo
#    | grep -q 'changed=0.*failed=0'
#    && (echo 'Idempotence test: pass' && exit 0)
#    || (echo 'Idempotence test: fail' && exit 1)


  # Test the roles did what we said they would
  - apache2 -v
  - >
    apache2 -v
    | grep -q 'Apache/2.4.12'
    && (echo 'Apache2 test: pass' && exit 0)
    || (echo 'Apache2 test: fail' && Kexit 1)

  # Request a page via the web server, to make sure it's running and responds.
  #- "curl http://localhost/"