---
language: python
python: "2.7"
sudo: false

install:
  # Install Ansible.
  - pip install ansible

  # Add ansible.cfg to set local roles path.
  - "{ echo '[defaults]'; echo 'roles_path = ansible/roles/'; } >> ansible.cfg"

script:
  # Check syntax
  - ansible-playbook -i tests/inventory tests/test.yml --syntax-check
